In [ ]:
Understanding the variables in python:

In [1]:
x=3
y=5

In [2]:
x+y

8

In [ ]:
variables are the placeholder for which the values will be assigned

In [ ]:
Rules for declaring the variables in python:

In [ ]:
Rule No1:A variable name should not contain the namespaces while declaring it

In [3]:
first name ='Faiyaz'
print(first name)

SyntaxError: invalid syntax (<ipython-input-3-79dda4c1dc5c>, line 1)

In [4]:
firstname='Faiyaz'
print(firstname)

Faiyaz

In [5]:
first_name='Faiyaz'
print(first_name)

Faiyaz

In [ ]:
** Rule No2: A variable name should not start with a number

In [6]:
1name = 'rahul'
print(1name)

SyntaxError: invalid syntax (<ipython-input-6-f35bfbfe9e76>, line 1)

In [7]:
name1 = 'rahul'
print(name1)

rahul

In [ ]:
Rule No3: A variable name should not contain any special character ===>&$@^!

In [9]:
name@='ravi'
print(name@)

SyntaxError: invalid syntax (<ipython-input-9-7136bd382290>, line 1)

In [ ]:
Introduction to datatypes in python:

In [ ]:
1.String---->str

In [ ]:
2.Numbers---->integers---->int and floats(decimals)---->float

In [ ]:
3.list---->list

In [ ]:
4.tuple---->tuple

In [ ]:
5.Dictionaries---->dict

In [ ]:
Classification of data types

In [ ]:
 1.mutable datatype--->which we can edit or alter

In [ ]:
 2.immutable datatype--->which we cannot be able to edit or alter

In [ ]:
Introduction to string datatype

In [ ]:
Defination: A string is nothing but a series of characters declared in quotes

In [ ]:
Classification: it is classified as immutable datatype

In [ ]:
how to declare a string-----> 3 possible way

In [ ]:
1.single quote

In [ ]:
2. double quote

In [ ]:
3. triple quote

In [10]:
name ='kiran'
print(name)

kiran

In [12]:
name2 ="Nadeem"
print(name2)

Nadeem

In [14]:
name3 ='''swetha'''
print(name3)

swetha

In [ ]:
Introduction to string methods---->these are built-in programs which we can use

In [ ]:
type---> it will be validating the datatype

In [15]:
type(name)

str

In [16]:
type(name2)

str

In [17]:
type(name3)

str