In [ ]:
Continuation with lists:

In [ ]:
Organising the list datatype:

In [1]:
cars = {'tata','maruthi','benz','audi','bmw','chevrolet'}

In [2]:
print(cars)

{'maruthi', 'chevrolet', 'benz', 'audi', 'bmw', 'tata'}

In [3]:
type(cars)

set

In [4]:
type (list)

type

In [5]:
type (cars)

set

In [6]:
cars = {'tata','maruthi','benz','audi','bmw','chevrolet'}

In [7]:
print(cars)

{'maruthi', 'chevrolet', 'benz', 'audi', 'bmw', 'tata'}

In [8]:
type(cars)

set

In [9]:
cars = ['tata','maruthi','benz','audi','bmw','chevrolet']

In [10]:
print(cars)

['tata', 'maruthi', 'benz', 'audi', 'bmw', 'chevrolet']

In [11]:
type(cars)

list

In [ ]:
#req : i want to arrange the above list in an alphabetical order ...! A-Z

In [ ]:
#1.temprerory approach ----->we will be having the original order of the list

In [ ]:
#2.permanent approach -----> we will not be having the original order

In [12]:
print(sorted(cars))# temp approach ---- A-Z

['audi', 'benz', 'bmw', 'chevrolet', 'maruthi', 'tata']

In [13]:
print(cars)# original order we are getting

['tata', 'maruthi', 'benz', 'audi', 'bmw', 'chevrolet']

In [ ]:
#permanent approach

In [14]:
cars.sort() # changes are implied permannetly

In [15]:
print(cars)

['audi', 'benz', 'bmw', 'chevrolet', 'maruthi', 'tata']

In [16]:
print(cars)

['audi', 'benz', 'bmw', 'chevrolet', 'maruthi', 'tata']

In [ ]:
# req : i want to print the list in the reverse order....?

In [17]:
print(cars)

['audi', 'benz', 'bmw', 'chevrolet', 'maruthi', 'tata']

In [18]:
cars.reverse()

In [19]:
print(cars)

['tata', 'maruthi', 'chevrolet', 'bmw', 'benz', 'audi']

In [ ]:
# req : how to count the number of elements in the list....?

In [20]:
print(cars)

['tata', 'maruthi', 'chevrolet', 'bmw', 'benz', 'audi']

In [21]:
len(cars)

6

In [ ]:
introduction to slicing of lists:

In [22]:
students = ['sachin','rakesh','sohail','naveen','priyanka','jose']

In [ ]:
# general syntax of slicing of lists:

In [ ]:
var[startvalue:stopvalue:stepcount]

In [ ]:
Note: last value is always exclusive, it will not be considered in the slice

In [ ]:
# req :  i want to sachin and rakesh in  the slice

In [25]:
print(students[0:1])

['sachin']

In [ ]:
Note: increment the index by the next value or 1 number

In [26]:
print(students[0:2])

['sachin', 'rakesh']

In [ ]:
# req :  i want to sohail and nadeem in  the slice

In [27]:
print(students[2:4])

['sohail', 'naveen']

In [ ]:
# req :  i want to priyanka and jose in  the slice

In [28]:
print(students)

['sachin', 'rakesh', 'sohail', 'naveen', 'priyanka', 'jose']

In [29]:
print(students[4:6])

['priyanka', 'jose']

In [30]:
print(students[4:-1])

['priyanka']

In [31]:
print(students[4:7])

['priyanka', 'jose']

In [32]:
print(students[4:0])

[]

In [33]:
print(students[4:4])

[]

In [34]:
print(students[4:3])

[]

In [35]:
print(students[0:6:2])

['sachin', 'sohail', 'priyanka']